## {{ ansible_managed }}
## 
## This file must be edited with the 'visudo' command.

{% if sudoers_cmnd_aliases is defined %}
## Cmnd alias specification
{%   for name, list in sudoers_cmnd_aliases.iteritems()|sort %}
Cmnd_Alias	{{ name|upper }} = {{ list|join(', ') }}
{%   endfor %}

{% endif %}
{% if sudoers_host_aliases is defined %}
## Host alias specification
{%   for name, list in sudoers_host_aliases.iteritems()|sort %}
Host_Alias	{{ name|upper }} = {{ list|join(', ') }}
{%   endfor %}

{% endif %}
{% if sudoers_runas_aliases is defined %}
## Runas alias specification
{%   for name, list in sudoers_runas_aliases.iteritems()|sort %}
Runas_Alias	{{ name|upper }} = {{ list|join(', ') }}
{%   endfor %}

{% endif %}
{% if sudoers_user_aliases is defined %}
## User alias specification
{%   for name, list in sudoers_user_aliases.iteritems()|sort %}
User_Alias	{{ name|upper }} = {{ list|join(', ') }}
{%   endfor %}

{% endif %}
{% if sudoers_defaults is defined %}
## Defaults specification
{%   for parameter, value in sudoers_defaults.iteritems()|sort %}
{%     if value is sameas true %}
Defaults	{{ parameter }}
{%     elif value is sameas false %}
Defaults	!{{ parameter }}
{%     else %}
Defaults	{{ parameter }} = "{{ value }}"
{%     endif %}
{%   endfor %}

{% endif %}
{% if sudoers_privileges is defined %}
## User privilege specification
{%   for privilege in sudoers_privileges %}
{{ privilege.ugid }}	{{ privilege.host }} = ({{ privilege.runas }})	{{ privilege.command }}
{%   endfor %}

{% endif %}  
## Read drop-in files from /etc/sudoers.d
#includedir {{ sudoers_includedir }}
